@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("/images/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div {
    padding-top: 10%;
}

.btn-success {
    padding: .4em 2em;
}

form {
    padding: 0 3em;
}

.form-group {
    margin-bottom: 10px;
}

#login .title > span {
    font-size: .8em;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
}
